<section class="section-header">
  <h2>Localizaciones</h2>
  <p>Explora los mundos y dimensiones del universo de Rick y Morty.</p>
</section>

<div class="filter-toggle">
  <button (click)="showFilterPanel = true">
    <span class="material-icons">tune</span> Filtros
  </button>
</div>

<div class="filter-panel" *ngIf="showFilterPanel">
  <div class="panel-header">
    <h3>Filtros</h3>
    <button (click)="showFilterPanel = false">
      <span class="material-icons">close</span> Cerrar
    </button>
  </div>

  <div class="panel-body">
    <mat-form-field appearance="fill" color="accent" class="name-field">
      <mat-label *ngIf="!showNameOverlay">Nombre de la localización</mat-label>
      <input
        matInput
        [formControl]="locationName"
        (focus)="onNameFocus()"
        (blur)="onNameBlur()"
      />
      <div class="static-text" *ngIf="showNameOverlay">
        Nombre de la localización
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill" color="accent" class="name-field">
      <mat-label *ngIf="!showCharacterOverlay">Nombre de personaje</mat-label>
      <input
        matInput
        [formControl]="characterName"
        (focus)="onCharacterFocus()"
        (blur)="onCharacterBlur()"
      />
      <div class="static-text" *ngIf="showCharacterOverlay">
        Nombre de personaje
      </div>
    </mat-form-field>
  </div>
</div>

<div class="card-grid">
  <a
    class="character-card episode-link"
    *ngFor="let loc of paginatedLocations"
    [routerLink]="['/locations', loc.id]"
  >
    <div class="card-content">
      <h3 class="name">{{ loc.name }}</h3>
      <p class="meta">
        {{ loc.type || "Sin tipo" }} <span class="separator">–</span>
        {{ loc.dimension || "Sin dimensión" }}
      </p>
    </div>
  </a>
</div>

<div class="pagination-controls">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>

  <button (click)="goToPage(1)" [class.active]="currentPage === 1">1</button>

  <button *ngIf="showPrevEllipsis" (click)="handlePrevEllipsis()">...</button>

  <ng-container *ngFor="let page of visiblePageNumbers">
    <button (click)="goToPage(page)" [class.active]="page === currentPage">
      {{ page }}
    </button>
  </ng-container>

  <button *ngIf="showNextEllipsis" (click)="handleNextEllipsis()">...</button>

  <button
    *ngIf="totalPages > 1"
    (click)="goToPage(totalPages)"
    [class.active]="currentPage === totalPages"
  >
    {{ totalPages }}
  </button>

  <button (click)="nextPage()" [disabled]="currentPage === totalPages">
    Siguiente
  </button>
</div>
