<div class="character-detail" *ngIf="member">
  <div class="image">
    <img [src]="member.image" [alt]="member.name" />
  </div>

  <div class="info">
    <h2>{{ member.name }}</h2>
    <p><strong>ID:</strong> {{ member.id }}</p>
    <p><strong>Especie:</strong> {{ member.species }}</p>
    <p><strong>Estado:</strong> {{ member.status }}</p>
    <p><strong>Género:</strong> {{ member.gender }}</p>
    <p><strong>Tipo:</strong> {{ member.type }}</p>
    <p><strong>Origen:</strong> {{ member.origin }}</p>
    <p><strong>Dimensión:</strong> {{ member.location }}</p>
    <p>
      <strong>Fecha de creación:</strong>
      {{ member.created | date : "fullDate" }}
    </p>
    <button type="button" (click)="goBack()">Volver al equipo</button>
  </div>
</div>
