<div *ngIf="isLoading" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>

<div class="character-detail" *ngIf="character && !isLoading">
  <div class="image">
    <img [src]="character.image" [alt]="character.name" />
  </div>

  <div class="info">
    <h2>{{ character.name }}</h2>
    <p><strong>Estado:</strong> {{ character.status }}</p>
    <p><strong>Especie:</strong> {{ character.species }}</p>
    <p><strong>Origen:</strong> {{ character.origin.name }}</p>
    <p><strong>Ubicación:</strong> {{ character.location.name }}</p>
    <p><strong>Género:</strong> {{ character.gender }}</p>
    <p><strong>Tipo:</strong> {{ character.type || "Desconocido" }}</p>
    <p>
      <strong>Fecha de creación:</strong>
      {{ character.created | date : "fullDate" }}
    </p>

    <div class="actions">
      <button
        mat-icon-button
        color="accent"
        [disableRipple]="true"
        *ngIf="!isInTeam"
        (click)="addToTeam()"
        aria-label="Añadir al equipo"
      >
        <span class="material-icons">group_add</span>
      </button>

      <button
        mat-icon-button
        color="warn"
        [disableRipple]="true"
        *ngIf="isInTeam"
        (click)="removeFromTeam()"
        aria-label="Quitar del equipo"
      >
        <span class="material-icons">group_off</span>
      </button>

      <button
        mat-icon-button
        color="primary"
        [disableRipple]="true"
        (click)="goBack()"
        aria-label="Volver atrás"
      >
        <span class="material-icons">arrow_back</span>
      </button>
    </div>

    <div *ngIf="confirmationMessage" class="confirmation">
      {{ confirmationMessage }}
    </div>
  </div>
</div>
